<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- left sidebar -->
    <div class="col-md-2 fixed pl-0 py-3 bg-light">
      <div class="sidebar bg-light p-2">
        <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
          <div class="wrapper wrapper--w780">
            <div class="card card-3">
              <div class="card-heading"></div>
              <div class="card-body">
                <h2 class="title">Search Filter</h2>
                  <div class="booking-form">
                    <form>
                      <div class="form-group row">
                        <label for="name" class="col-12 col-form-label">Subject Name</label>
                        <div class="col-sm-12">
                        <select id="name" class="form-control">
                          <% for (var i = 0; i < data.length; i++) { %>
                            <option><%= data[i].name %>/<%= data[i].id%></option>
                          <% } %>
                        </select>
                        </div>
                        <span class="select-arrow"></span>
                      </div>
                      <div class="form-group row">
                        <label for="start" class="col-4 col-form-label">Start</label>
                        <div class="col-sm-12">
                            <input class="form-control" type="date" name="start" id ="start" required>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="end" class="col-4 col-form-label">End</label>
                        <div class="col-sm-12">
                          <input class="form-control" type="date" name="end" id ="end" required>
                        </div>
                      </div>
                      <div class="form form-group row">
                          <label for="type" class="col-8 col-form-label">Search by</label>
                        <div class="col-sm-12">
                            <select id="type" class="form-control" type="text" name="type">
                              <option>Lessons</option>
                              <option>Students</option>
                            </select>
                            <span class="select-arrow"></span>
                          </div>
                        </div>
                      <div class="form-btn">
                        <input type="button" value="Search" id="submit" onclick="SendAjax();">
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div><!-- cd-filter -->
    </div>
    <!-- center content -->
    <div class="col fluid d-flex flex-column p-0">

      <!-- main content -->
      <div class="flex-grow">
        <div class="col-12 py-4">
          <div style="width:90%;">
          <canvas id="myChart"></canvas>
          </div>
      <!-- /main content -->
    </div>
  </div>
</div>
  </div>
</div>



<script>
  let myChart = document.getElementById('myChart').getContext('2d');

  // Global Options
  Chart.defaults.global.defaultFontFamily = 'Lato';
  Chart.defaults.global.defaultFontSize = 18;
  Chart.defaults.global.defaultFontColor = '#777';


  var lable = <%- JSON.stringify(data) %>
    console.log(lable[0].name);
  var lables = [];
  var data = [];
  for(let i = 0; i < lable.length; i++) {
  lables.push(lable[i].name);
    data.push(lable[i].average)
  }

  let massPopChart = new Chart(myChart, {
    type:'horizontalBar', // bar, horizontalBar, pie, line, doughnut, radar, polarArea
    data:{
      responsive:true,
      maintainAspectRatio: false,
      labels:lables,
      datasets:[{
        label:'Attendance',
        data:data,
        //backgroundColor:'green',
        backgroundColor:[
          'rgba(255, 99, 132, 0.6)',
          'rgba(54, 162, 235, 0.6)',
          'rgba(255, 206, 86, 0.6)',
          'rgba(75, 192, 192, 0.6)',
          'rgba(153, 102, 255, 0.6)',
          'rgba(255, 159, 64, 0.6)',
          'rgba(255, 99, 132, 0.6)'
        ],
        borderWidth:1,
        borderColor:'#777',
        hoverBorderWidth:3,
        hoverBorderColor:'#000'
      }]
    },
    options:{
      title:{
        display:true,
        text:'Compare Attendance in Your Subjects',
        fontSize:25
      },
      scales: {
        xAxes: [{
          ticks: {
            beginAtZero: true,
            max:100
          }
        }]
      },
      legend:{
        display:false,
        position:'right',
        labels:{
          fontColor:'#000'
        }
      },
      layout:{
        padding:{
          left:100,
          right:0,
          bottom:50,
          top:0
        }
      },
      tooltips:{
        enabled:true
      }
    }
  });

  function SendAjax() {
    let name = $("#name").val();
    let start = $("#start").val();
    let end = $("#end").val();
    let type = $("#type").val();

    if(start.length < 1 || end.length < 1){
      alert("Start and end dates must be selected!");
      return
    }
    var names = name.split("/");
    console.log("My search: " +"  "+ names[0] + "ID: "+names[1] +"  "+ start + end +"  "+ type);

    window.location.href = '/statistics/home/'+type.toLowerCase()+'?id='+names[1]+"&start="+start+"&end="+end;
  }


</script>
