<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<title></title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-purple.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
<body>
<div id="welcome">
<div class="w3-row-padding w3-center w3-margin-top">
  <a href="/subject">
    <div class="w3-third">
      <div class="w3-card w3-container" style="min-height:460px">
        <h3>Attendance</h3><br>
        <i class="fa fa-table w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
        <p>Click here to start</p>
        <p>Using NFC technology</p>
        <p></p>

      </div>
    </div>
  </a>


  <a href="/history">
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
      <h3>History</h3><br>
      <i class="fa fa-history w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
      <p>View your classes attendance history</p>

    </div>
  </div>
  </a>
  <a href="/statistics/home">
  <div class="w3-third">
    <div class="w3-card w3-container" style="min-height:460px">
      <h3>Analytics</h3><br>
      <i class="fa fa-line-chart w3-margin-bottom w3-text-theme" style="font-size:120px"></i>
      <p>View class attendance in graphs</p>
      <p>View grades and attendance comparisons</p>

    </div>
  </div>
</a>
</div>
</div>

</body>
</html>
<%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
