<div>
  <form method="POST" action="controllers/admin/subjects-create.js" id="form">
    <div class="form-group">
    <input type="text" name="subject" id="subject" placeholder="subject">
    </div>
    <div class="form-group">
    <input name="lecturer" id ="lecturer" placeholder="lectureId">
    </div>
    <input type="button" value="Submit" id="submit" onclick="SendAjax();">
  </form>
</div>
<%- exposeLocalsToBrowser() %>
<script>
  // When click on button store values from form fields into variables
  function SendAjax() {
    let subject = $("#subject").val();
    let lecturer = $("#lecturer").val();
    const csrf = window.SAILS_LOCALS._csrf;
    // Check if fields are empty

    // AJAX code to submit form
      $.ajax ({
        type: "POST",
        url: "/admin/create-subject",
        headers: {
          'X-CSRF-TOKEN': csrf,
        },
        data: { "subject": subject, "lecturer": lecturer},
        success: function(data) {
          console.log(data.id);
          window.location=('/admin/lesson?id='+data.id);
        },
        error: function(){
          alert("this entry already exists");
      }
  });}
</script>
