<link rel="stylesheet" href="/dependencies/bootstrap-4/bootstrap-4.css">
<link rel="stylesheet" href="/styles/importer.css">
<link rel="stylesheet" href="/dependencies/font-awesome-4/css/font-awesome.css">

<div id="subject-create">
<div class="container-contact100">
  <div class="wrap-contact100">
    <form class="contact100-form validate-form">
				<span class="contact100-form-title">
					Create a Subject
				</span>

      <div class="wrap-input100 validate-input" data-validate="Please enter your Subject name">
        <input class="input100" type="text" name="subject" id="subject" placeholder="Subject Name">
        <span class="focus-input100"></span>
      </div>

      <div class="wrap-input100 validate-input" data-validate = "Please enter your Lecturer ID">
        <input class="input100" type="text" name="lecturer" id ="lecturer" placeholder="Lecture ID">
        <span class="focus-input100"></span>
      </div>
    </form>
    <div class="container-contact100-form-btn">
      <button class="contact100-form-btn" value="Submit" id="submit" onclick="SendAjax();">
						<span>
							<i class="fa fa-paper-plane-o m-r-6" aria-hidden="true"></i>
							Submit
						</span>
      </button>
    </div>
  </div>
</div>
</div>
<!-- main-panel ends -->
<%- exposeLocalsToBrowser() %>
<script>
  // When click on button store values from form fields into variables
  function SendAjax() {
    let subject = $("#subject").val();
    let lecturer = $("#lecturer").val();
    const csrf = window.SAILS_LOCALS._csrf;
    // Check if fields are empty

    // AJAX code to submit form
      $.ajax ({
        type: "POST",
        url: "/admin/create-subject",
        headers: {
          'X-CSRF-TOKEN': csrf,
        },
        data: { "subject": subject, "lecturer": lecturer},
        success: function(data) {
          console.log(data.id);
          alert("Data Returned" + data.id);
          window.location=('/admin/lesson?id='+data.id);
        },
        error: function(){
          alert("Invalid entry try again");
      }
  });}
</script>
